body{
    font-family: 'Roboto'; /* ethereum typeface */
    width: 80%;
}

.bluebox{
  background: #3498db;
  color: white;
  width: 50%;
  padding: 30px;
  float: left;
}

#globe {
    width: 40px;
    float: left;
    padding: 10px;
}

#marCap {
    font-variant: small-caps;
}

#lastBlock {
    font-variant: small-caps;
}

#price {
    font-variant: small-caps;
}

#search {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 0px 3px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

}
#address{
  border-radius: 5px;
  width: 88%;
  font-size: 1.5em;
}
.searchbar{
  top: 20px;
  position: absolute;
  left: 50%;
  padding: 10px;
}

#form {
    background-image: linear-gradient(150deg,#19a0ff,#2d1582);
    color: white;
    font-size: 0.5em;
    padding: 8px 50px;
    width: 30%;
}

#oops {
  float: right;
}
